

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  font: 18px "Raleway", sans-serif;
}

.game ol,
.game ul {
  padding-left: 30px;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  min-width: 190px;
}
